<div class="nested-fields form-inline">
  <div class="form-group">
   <p>挿絵</p>
    <% if f.try(:sector_image) %>
    <%= attachment_image_tag f, :sector_image, format: 'jpeg', fallback: "no_image.jpg", class: "image", size: '100x100' %>
    <%end%>
   <%= f.attachment_field :sector_image, placeholeder: "挿絵" %>
   <p>番号</p>
   <p><%= f.number_field :sector_number,min:1 %></p>
   <p>本文</p>
    <p><%= f.text_area :sector_body,rows: "50",cols: "180" %></p>
    <%= link_to_remove_association "節を取り消す", f %>
  </div>
</div>