<div class="bookshow_background">
<p>本の詳細</p>
    <%= attachment_image_tag @book, :book_image, format: 'jpeg', fallback: "no_image.jpg", class: "image", size: '100x100' %>
<h4>題名  <%= @book.book_title %></h4>
   <h4>著者  <%= @book.author %></h4>
   <h4>分類  <%= @book.category %></h4>
   <h4>あらすじ  <%= @book.sumary %></h4>
   <h4>金額  <%= @book.book_price %></h4>

    <% @book.chapters.each do |f| %>
    <h4>目次</h4>
    <p><%= f.chapter_number %>章</p>
	    <p><%= f.chapter_title %></p>
      　　　<p>読まれた回数</P>
    <% if f.try(:read_count) %>
                      <%= f.read_count %>
<%else%>
    <%end%>
            <p>読書時間</p>
    <% if f.try(:read_time) %>
                      <%= f.read_time %>
<%else%>
    <%end%>


    <% if user_signed_in? %>
	<%= link_to 'ここから読む', sector_path(f) %>
   
    <% else %>
    <% end %>   
    <% end %>
</div>
