 <div class="col-lg-12" style="background-color: #C6CFCC;">
    <div class="center">
    <p><%= @chapter.chapter_number %>章</p>
    <p>タイトル<%= @chapter.chapter_title %></p>

    <% @chapter.sectors.each do |f| %>
    <% if f.try(:sector_image) %>
    <%= attachment_image_tag f, :sector_image, format: 'jpeg', fallback: "no_image.jpg", class: "image", size: '100x100' %>
    <%else%>
    <%end%>
     <p><%= f.sector_number %></p>
     <p><%= f.sector_body %></p>
<%end%>
      <%= link_to '編集', edit_chapter_path(f) %>

<br></div>
<% if @back_chapter.present? %>
  <div class="left">
  <%= link_to '戻る', chapter_path(@back_chapter) %>
  </div>
<% end %>

<% if @next_chapter.present? %>
<div class="right">
<%= link_to '次へ', chapter_path(@next_chapter) %>
</div>
<% end %>


<div class="center">
<%= link_to '目次', book_path(@chapter.book_id) %>
<%= link_to '記録', chapters_path(@chapter.book_id) %>
</div>
</div>
