<!DOCTYPE html>
<html>
  <head>
    <title>ReadTimes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="text-left header_left">
      <header class="clearfix">
        <div class="header">
        <nav>
<!--検索機能-->
            <%= form_tag books_path, :method => 'get' do %>
            <p>本を検索
            <%= text_field_tag :search, params[:search] ,class: 'search_bar', placeholder: "検索したい本を入力してください" , data: { disable_with: " SEARCH NOW" } %>
            </p><% end %>

    <% if user_signed_in? %>
            <ul class="nav">
    <li class="nav__item"><a href="#"><%= link_to 'トップ画面', root_path, class: 'home' %></a></li>
    <li class="nav__item"><a href="#"><%= link_to 'マイページ', user_path(current_user.id), class: 'my_page' %></a></li>
    <li class="nav__item"><a href="#"><%= link_to "カート", carts_path  %></a></li>
    <li class="nav__item"><a href="#"><%= link_to '購入した本', totals_path, class: 'my_book' %></a></li></span>
    <li class="nav__item"><a href="#"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout' %></a></li>
</ul>
     <% if current_user.try(:admin?) %>
     <div  style="background-color: #1A94E0;">
     <p><%= link_to "商品登録", new_book_path %>
        <%= link_to "本の一覧", books_path%>
        <%= link_to "ユーザー一覧", users_path %></p>
        </div>
    <% end %>
    <% else %>
    <p><%= link_to 'トップ画面', root_path, class: 'home' %>
    <%= link_to "会員登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %></p>
    <% end %>
</nav>
</div>
</div>
</div blass="header_nav">
</header>
    <%= yield %>
  </body>
</html>
